/* $Id$ */

/**
 * @file
 * CSS rules for formating the gradebook
 */

/**
 *  This container surrounds the gradebook_page.
 *  Adds scrollbars to keep table under control.
 */

#gradebook-container {
  overflow-x: scroll;
  overflow-y: scroll;
}

/**
 *  Rules to format the gradebook table 
 */

.gradebook {
  width: 100%;
  font-size: 80%;
  border: 1px solid #ccc;
}

/**
 *  Rules for formatting gradebook table header rows and columns
 */

.gradebook th,
.gradebook .category,
.gradebook .possible,
.gradebook .date,
.gradebook .title,
.gradebook .name,
.gradebook .edit-all,
.gradebook .exempt-box {
  border: 2px solid #ccc;
  text-align: center;
}

.gradebook .select {
  border: 2px solid #ccc;
  text-align: center;
}

.gradebook .earned-possible {
  border: 2px solid #ccc;
  text-align: center;
}

.gradebook .note {
  border: 2px solid #ccc;
  text-align: left;
}

.gradebook .average {
  border: 2px solid #ccc;
  color: #FF0000;
  text-align: center;
}

/**
 * Rules for formating gradebook table grade entries
 */

.gradebook .grade {
  text-align: center;
}

.gradebook .term_grade {
  text-align: center;
  border-bottom: 1px solid #000000;
  color: #FF0000;
}

/**
 *  Rules to provide line through exempted grade
 */

.gradebook  .exempt,
.gradebook  .exempt a {
  text-decoration: line-through;
  color: #AA0000;
}

/**
 *  Rules to format the extra fields added to assignment nodes.
 */

.gradebook-assignment-due {
  color: #FF0000;
  font-size: 89%;
  font-style: italic;
  padding: 1em 0 0 1em;
  text-align: left;
}

.gradebook-assignment-due-date {
  color: #FF0000;
}

.gradebook-assignment-possible {
  color: #FF0000;
  font-size: 89%;
  font-style: italic;
  padding: 0 0 1em 1em;
  text-align: left;
}

.gradebook-assignment-possible-points {
  color: #FF0000;
}
